.flex-container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;

}

.input-flex {
    width: 350px;
    margin-right: 10rem;
}